<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Class Builder</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style type="text/css">
      @media (min-width: 992px) {
        main > aside {
          width: 24ch;
          min-height: 100vh;
          flex-shrink: 0;
        }
      }
    </style>
    {{ block "head" . }}{{ end }}
  </head>
  <body>
    <main class="d-lg-flex">
      <aside class="text-light bg-dark p-3">
        <div class="fs-2">GoCMS</div>
        <nav>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="link-primary align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#class-collapse" aria-expanded="true">Classes</a>
              <ul class="list-unstyled small collapse ps-3" id="class-collapse">
                <li><a href="/admin/classes/new" class="link-secondary">New Class</a></li>
              </ul>
            </li>
            {{ range .ClassList }}
            <li>
              <a href="#" class="link-primary align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#{{ .Slug }}-collapse" aria-expanded="true">{{ .Name }}</a>
              <ul class="list-unstyled small collapse ps-3" id="{{ .Slug }}-collapse">
                <li><a href="/admin/classes/{{ .Slug }}/edit" class="link-secondary">Edit</a></li>
                <li><a href="/admin/classes/{{ .Slug }}/fields" class="link-secondary">Fields</a></li>
              </ul>
            </li>
            {{ end }}
          </ul>
        </nav>
      </aside>
      <article class="flex-grow-1 p-3">
        {{ block "content" . }}<p>Define content to go here</p>{{ end }}
      </article>
      {{ block "sidebar" . }}{{end}}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {{ block "footer" . }}{{ end }}
  </body>
</html>
