{{ define "head" }}
{{ end }}

{{ define "content" }}
<h1 class="fs-2 mb-3">{{ if .Document.Id.IsZero }}{{ .Class.NewItemLabel }}{{ else }}{{ .Class.EditItemLabel }}{{ end }}</h1>
{{ if .Error }}
<div class="alert alert-danger"><strong>Error:</strong> {{ .Error }}</div>
{{ end }}
<form method="post">
  <div class="row">
    <div class="col-lg-12">
      <label for="document-title">Title</label>
      <input type="text" id="document-title" name="title" class="form-control mb-4" value="{{ .Document.Title }}" required>
    </div>
    <div class="col-lg-12">
      <label for="document-slug">Slug</label>
      <input type="text" id="document-slug" name="slug" class="form-control mb-4" pattern="[a-z][a-z0-9_]+" title="Must be lowercase alphanumeric; underscores allowed" value="{{ .Document.Slug }}" required>
    </div>
    <div class="col-lg-12">
      <label for="document-published">Published</label>
      <input type="datetime-local" id="document-published" name="published" class="form-control mb-4" value="{{ .Document.Published.Format "2006-01-02T15:04" }}" required>
    </div>
  </div>
  {{ range .Class.Fields }}
  <div class="row">
    <div class="col-lg-12">
      <label for="{{ .Name }}">{{ .Label }}</label>
      {{ if eq .Type "text" }}
        <input type="text" id="{{ .Name }}" name="{{ .Name }}" class="form-control mb-4" value="{{ index $.Document.Values .Name }}">
      {{ else if eq .Type "date" }}
        <input type="date" id="{{ .Name }}" name="{{ .Name }}" {{ if ne .Min "" }}min="{{ .Min }}"{{ end }} {{ if ne .Max "" }}max="{{ .Max }}"{{ end }} {{ if ne .Step "" }}step="{{ .Step }}"{{ end }} class="form-control mb-4" value="{{ index $.Document.Values .Name }}">
      {{ else if eq .Type "datetime" }}
        <input type="datetime-local" id="{{ .Name }}" name="{{ .Name }}" {{ if ne .Min "" }}min="{{ .Min }}"{{ end }} {{ if ne .Max "" }}max="{{ .Max }}"{{ end }} {{ if ne .Step "" }}step="{{ .Step }}"{{ end }} class="form-control mb-4" value="{{ index $.Document.Values .Name }}">
      {{ else if eq .Type "time" }}
        <input type="time" id="{{ .Name }}" name="{{ .Name }}" {{ if ne .Min "" }}min="{{ .Min }}"{{ end }} {{ if ne .Max "" }}max="{{ .Max }}"{{ end }} {{ if ne .Step "" }}step="{{ .Step }}"{{ end }} class="form-control mb-4" value="{{ index $.Document.Values .Name }}">
      {{ else if eq .Type "number" }}
        <input type="number" id="{{ .Name }}" name="{{ .Name }}" {{ if ne .Min "" }}min="{{ .Min }}"{{ end }} {{ if ne .Max "" }}max="{{ .Max }}"{{ end }} {{ if ne .Step "" }}step="{{ .Step }}"{{ end }} class="form-control mb-4" value="{{ index $.Document.Values .Name }}">
      {{ else if eq .Type "textarea" }}
        <textarea id="{{ .Name }}" name="{{ .Name }}" class="form-control mb-4">{{ index $.Document.Values .Name }}</textarea>
      {{ end }}
    </div>
  </div>
  {{ end }}
  <input type="hidden" name="class_id" value="{{ .Class.Id.Hex }}">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{ end }}

{{ define "sidebar" }}
{{ end }}

{{ define "footer" }}
{{ end }}
