{{ define "head" }}
{{ end }}

{{ define "content" }}
<h1 class="fs-2 mb-3">{{ .Class.Name }}</h1>
<p>Total documents: {{ .List.Total }}</p>

<table class="table table-striped">
  <thead>
    <tr>
      {{ range .Table.Header }}
        <th scope="col">{{ . }}</th>
      {{ end }}
      <th scope="col"><!-- Buttons column --></th>
    </tr>
  </thead>
  <tbody>
    {{ range .Table.Body }}
      <tr>
        {{ range (.Columns) }}
          <td>{{ . }}</td>
        {{ end }}
        <td class="text-end">
          <div class="btn-group" role="group" aria-label="Options">
            <a class="btn btn-sm btn-primary" href="/admin/classes/{{ $.Class.Slug }}/{{ .Document.Id.Hex }}">Edit</a>
            <a class="btn btn-sm btn-danger" href="/admin/classes/{{ $.Class.Slug }}/{{ .Document.Id.Hex }}/delete">Delete</a>
          </div>
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}

{{ define "sidebar" }}
{{ end }}

{{ define "footer" }}
{{ end }}
